@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f5f5f5;
}

.container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  width: 32rem;
  text-align: center;
  border-radius: 0.625rem;
  box-shadow: 0.625rem 0.625rem 1px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  font-size: 1rem;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 0.313rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button {
  color: white;
  background-color: #007bff;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b6;
}

.informacion {
  margin: 0.5rem 0;
  padding: 0.5rem;
}
